.pop-card:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 5px lightgray;
    animation: fadeIn 0.5s ease-in-out;
}
.pop-card{
    animation: fadeIn 0.8s ease-in-out infinite;
}
@keyframes fadeIn {
    0% {
        opacity: 0.9;

    }
    100% {
        opacity: 1;
    }
    
}
